<!DOCTYPE html>
<html>
    <head>
        <title> PAGE TITLE</title>
        <link rel="stylesheet" href="./static/style.css">
    </head>
    <body>
    <div class="banner">
        <div class="navbar">
            <!-- <img src="logo.png" class="logo"> -->
            <ul>
                <li><a href="index">HOME</a></li>
                <li><a href="Services.html">SERVICES</a></li>
                <li><a href="about">ABOUT_US</a></li>
                <li><a href="login">Login</a></li>

            </ul>
        </div>
        <head>
            <form name="passdata" method="post" action=".">
            <title> Your Requirements </title>
            <body>
                <div class="main">
                    <div class="register">
                        <h2>Your Requirements</h2>
                            <div class="new">
                                <label>Car_Name</label>
                                <br>
                                <input type="text" name="fname" id="name" placeholder="Enter Car Name">
                                <br><br>
                                <label>Fuel_Type</label>  
                                <br>
                                <input type="text" name="fuel" id="name" placeholder="Enter Fuel_type">
                                <br><br>
                                <label>Transmission</label>
                                <br>
                                <input type="text" name="Transmission" id="name" placeholder="Enter Transmission Type">
                                <br><br>
                                <label>Email_Id</label>
                                <br>
                                <input type="email" name="mail_id" id="name" placeholder="Enter Email_id" >
                                <br><br>
                                
                            </div>
                            <div class="new1">
                                <input type="submit" value="Submit" name="submit" id="submit">                 
                            </div>
                        </form>
                    </div>
                    
                </div>
            </body>
        </head>

</div>
        
    </body>
</html>


